// Color //
$background-color-1: rgb(13, 11, 15);
$background-color-2: white;

$font-color-1: white;
$font-color-2: black;

$special-color: rgb(245, 153, 183);

// Font //
$main-font: 'PT Sans', sans-serif;

// Font Size //

// Padding //
$default-horizontal-padding: 5%;
$default-vertical-padding: 20px;

// Margin //
