.menu {
    ul {
        margin-top: 100px;
    }
}

#hello {
    height: 85vh;
    position: static;
    padding-right: 10%;

    h1 {
        font-size: 4rem;
    }

    .container {
        position: relative;
        top: 100px;
    }

    .hand {
        img {
            height: 75px;
            width: auto;
        }
    }

    .henrietta {
        img {
            max-width: 250px;
            top: 0px;
        }
    }

    #typewriter {
        font-size: 3rem;
    }
}

.scroll-down {
    display: block;
    width: 100%;
    position: absolute;
    left: 0px;
    bottom: 10px;
    text-align: center;

    i {
        font-size: 6rem;
        color: $special-color;
            &:hover {  animation: bounce 1s infinite alternate;
                -webkit-animation: bounce 0.4s infinite alternate;
            }
        }
}