#hello {
    padding: 150px;
    margin-left: 100px;
    height: 60vh;
    
    .container {
        text-align: center;
    }

    h1 {
        font-size: 4rem;
    }

    .hand {
        img {
            height: 75px;
            width: auto;
        }
    }

    .henrietta {
        position: relative;
        bottom: 100px;
        img {
            margin-right: 250px;
        }
    }

    #typewriter {
        font-size: 3rem;
    }
}

.menu {
    ul {
        margin-top: 100px;
    }
}