.menu {
    ul {
        margin-top: 100px;
    }
}

#hello {
    padding: 100px;
    margin-left: 100px;
    height: 60vh;
    position: static;
    
    .container {
        text-align: center;
    }

    h1 {
        font-size: 4rem;
    }

    .hand {
        img {
            height: 75px;
            width: auto;
        }
    }

    .henrietta {
        position: relative;
        bottom: 100px;
        
    }

    #typewriter {
        font-size: 3rem;
    }
}

.scroll-down {
    display: block;
    width: 100%;
    position: absolute;
    left: 0px;
    bottom: 100px;
    text-align: center;

    i {
        width: 200px;
        height: auto;
        color: $special-color;
            &:hover {  animation: bounce 1s infinite alternate;
                -webkit-animation: bounce 0.4s infinite alternate;
            }
        }
}