h2 {
    font-size: 2rem;
}

#hello {

    padding-top: 80px;
    ;

    .container {
        padding-left: 15%;
    }

    h1 {
        font-size: 3rem;
    }
    
    .hand {
        img {
            height: 60px;
        }
    
    }

    .henrietta {
        img {
            margin-right: 10%;
            margin-left: 30px;
            margin-bottom: 100px;
            position: relative;
            bottom: 30px;
        }
    }

    #typewriter{
		font-size: 2rem;
    }
}

#about-me {
   padding-left: 20%;
   font-size: 1.2rem;
 

    p {
        max-width: 75%;
    }
}

#portfolio {
    .emoji {
        padding-left: 17%;
    }
}

.portfolio-slides {
    display:none;
    position: relative;

    .wrapper-2 {
        position: absolute;
        top: 40%;
        padding: 20px;
        width: 50%;
        display: inline-block;
        @include center-absolute-div;
        background-color: rgba(0, 0, 0, 0.8);
    }

    img {
        width: 100%;
        height: auto;
    }
}

#work-experience {
    padding-left: 20%;
}

#contact {
    padding-left: 20%;

    form {
        max-width: 75%;
    }

    div {
        margin-right: 20%;
    }
}