#about-me {
   padding-left: 20%;
   font-size: 1.2rem;

    p {
        max-width: 75%;
    }
}


.portfolio-slides {
    display:none;
    position: relative;

    .wrapper-2 {
        position: absolute;
        top: 40%;
        padding: 20px;
        width: 50%;
        display: inline-block;
        @include center-absolute-div;
        background-color: rgba(0, 0, 0, 0.8);
    }

    img {
        width: 100%;
        height: auto;
    }
}